@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kavoon&family=Modak&family=Molle:ital@1&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #6b6d5e;
}
.site-header .navbar-nav .nav-link {
  color: #d3d6c3;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.bg-steel {
  background-color: #5a5c4f;
}
.container .navbar-brand {
  color: #ee6a22;
  font-family: 'Modak', cursive;
  font-size: 40px;
}
.container .navbar-brand span {
  font-family: 'Molle', cursive;
  color: #f2af1d;
}
.overlay h3 {
  font-family: 'Molle', cursive;
  color: #ee6a22;
}
.col-md-2 ul h5 a {
  color: #5a5c4f;
}
.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.content-section, .content {
  background: #c1c4b2;
  padding: 10px 20px;
  border-radius: 3px;
  color: #5a5c4f;
  margin-bottom: 20px;
  /* margin-top: 10rem; */
}
.cont{
  margin-top: 5.3rem;
}
.account-heading {
  font-size: 2.5rem;
}
.media{
  padding: 1rem;
}
.overlay{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
}
.landing-page{
  background: url(../images/img.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.overlay ul li{
  display: inline-block;
  padding-top: 10rem;
}
.overlay ul li a {
  padding: 10px;
  margin: 5px;
  background: #ee6a22;
  color: #d3d6c3;
}
.overlay ul li a:hover{
  text-decoration: none;
  background-color: #ec783a;
}
.landing-page-content{
  text-align: center;
}
.landing-page-content h1{
  font-family: 'Molle', cursive;
  color: #f2af1d;
}
.landing-page-content h1 span{
  color: #d3d6c3;
  font-family: 'Modak', cursive;
  font-size: 3.5rem;
}
.landing-page-content p a {
  background: none;
  border: 1px solid #f2af1d;
  padding: 15px 35px;
  color: #f2af1d;
  border-radius: 3px;
  transition: .3s;
}
.landing-page-content p a:hover{
  background: #f2af1d;
  transition: .3s;
  color: #5a5c4f;
  text-decoration: none;
  border: none;
  box-shadow: 0px 3px 37px -3px rgba(209,209,209,1);
}
.card{
  margin: 20px;
}
.card-body {
  background-color: #f2af1d;
  color: #080807;
}
.card-header, .card-footer {
  background-color: #d3d6c3;
}
.card-body a{
  color: #080807;
}
.card a:hover{
  text-decoration: none;
}
.collapse a i {
  margin-right: 3px;
  color: #f2af1d;
}
.card-body h5, .card-body h5 a{
  color: #080807;
}
.card-body h5 a:hover{
  color: #ca4d0a;
}
.card-body p{
  color: #5a5c4f;
}