@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Kavoon&family=Modak&family=Molle:ital@1&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
  background-color: #d3d6c3;
}
.site-header .navbar-nav .nav-link {
  color: #d3d6c3;
}
.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.bg-steel {
  background-color: #5a5c4f;
}
.container .navbar-brand {
  color: #ee6a22;
  font-family: 'Kavoon', cursive;
  font-size: 30px;
}
.container .navbar-brand span {
  font-family: 'Molle', cursive;
  color: #f2af1d;
}
.col-md-3 h2 {
  font-family: 'Kavoon', cursive;
  color: #ee6a22;
}
.col-md-3 ul h3 a {
  font-family: 'Molle', cursive;
  color: #5a5c4f;
}
.account-img {
  height: 150px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.content-section {
  background: #c1c4b2;
  padding: 10px 20px;
  border-radius: 3px;
  color: #5a5c4f;
  margin-bottom: 20px;
}
.account-heading {
  font-size: 2.5rem;
}
.media{
  padding: 1rem;
}