{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}
<div class="landing-page">
  <div class="overlay">
    <ul>
      <li><a href="{{url_for('main.post_by_category',category='Career')}}">Career</a></li>
      <li><a href="{{url_for('main.post_by_category',category='PickUp_Lines')}}">Pick Up Lines</a></li>
      <li><a href="{{url_for('main.post_by_category',category='Slogans')}}">Slogans</a></li>
      <li><a href="{{url_for('main.post_by_category',category='Product')}}">Product</a></li>
      <br><br><br>
      <div class="landing-page-content pt-3">
        <h1>“Creativity is nothing but <br> <span>the way to solve new problems."</span></h1>
        {%if current_user.is_authenticated %}
        <p class="text-uppercase mt-2"><a href="{{ url_for('posts.new_post') }}">Create Pitch</a></p>
        {% else %}
        <p class="text-uppercase mt-2"><a href="{{ url_for('users.register') }}">Get Started</a></p>
        {% endif %}
      </div>
    </ul>
  </div>

</div>
<div class="container">
  <h2 class="text-center text-warning pt-3">Pitches</h2>
  {{ macro.display(posts) }}
</div>
{% endblock content %}