{% extends 'base.html' %}
{% block content %}
<div class="container content-sec">
  <div class="card">
    <div class="card-header">
      <p><a href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a> <small
          class="text-muted float-right">{{ post.date_posted.strftime('%Y-%m-%d') }}</small></p>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ post.content }}</h5>
      <p class="card-text">{{ post.category }}</p>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <div class="like">
          <a href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
          <p>Like</p>
        </div>
        <div class="dislike ml-5">
          <a href=""><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
          <p>Dislike</p>
        </div>
      </div>
      <div class="comments">
        <p>{{ post.text }}</p>
      </div>
      {% if post.author == current_user %}
      <div>
        <a class="btn btn-warning btn-sm mt-1 mb-1"
          href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal"
          data-target="#deleteModal">Delete</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete Pitch?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
          <input type="submit" class="btn btn-danger" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}